@model CineplexWebsite.Models.Event

@{
    ViewData["Title"] = "Index";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Enquire now</h4>
    <hr />
    <form>
        <div class="form-group">
            <div class="col-md-2">
                <label for="FromName">Name</label>
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.senderName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.senderName)<br/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label for="FromEmail">Email</label>
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.senderEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.senderEmail)<br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label for="FromEmail">Message</label>
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @rows = "10"})
                @Html.ValidationMessageFor(m => m.Message)<br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
    </form>
}