@using CineplexWebsite.Models
@model CineplexWebsite.Models.MovieSessionDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="sessionResult">
            
    <input type="hidden" value="@Model.Movie.Title"  id="title"/>
    <input type="hidden" value="@Model.Cineplex.Location"  id="cinema"/>
    <input type="hidden" value="@Model.MovieSession.SessionTime" id="sessionTime" />

    <h1 class="movieTitle"> @Model.Movie.Title</h1> 

    <div class="info">
        <div class="left">
            <img class="movieImage" src=/@Model.Movie.ImageUrl />  
        </div>
        <div class="right">
            <p class="description"> @Model.Movie.LongDescription</p>
            <p class="cinema"> @Model.Cineplex.Location</p>
            <p class="time"> @Model.MovieSession.SessionTime</p>
        </div>
               
    </div> 
            
            
</div>

<div class="checkout-wrapper" id="wrapper">
    <div id="hideSeatPicker">
        <div class="checkout-container">
            <h2>Select your seats</h2>
            <div id="seat-map">


                <div class="front-indicator">Front</div>
            </div>
            <div class="booking-details">


                <h3> Selected Seats (<span id="counter">0</span>):
                </h3>
                <ul class="selectedSeats" id="selected-seats"></ul>

                <p class="checkoutText">
                    Total: <b>$<span id="total">0</span></b>
                    <button class="add-button", id="add-to-cart-button">Add</button>
                </p>

                <div id="legend"></div>
            </div>
        </div>
    </div>
   
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/jquery.seat-charts.js"></script>

<script src="/js/SeatPicker.js"> </script>