@model IEnumerable<CineplexWebsite.Models.MovieSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Sessions</h1>

<form action="#">
    movie name: <input id="movieTitleInput" type="text" name="fname"><br>   
    <input id="movieSearchButton" type="submit" value="Submit">
</form>

<form action="#">
    cinema name: <input id="cinemaInput" type="text" name="fname"><br>
    <input id="cinemaSearchButton" type="submit" value="Submit">
</form>



<div id="searchResults">

    @foreach (var item in Model)
    {
        <div class="sessionResult">
            
            
            <h1 class="movieTitle"> @Html.DisplayFor(modelItem => item.Movie.Title)</h1> 

            <div class="info">
                <div class="left">
                    <img class="movieImage" src=@Html.DisplayFor(modelItem => item.Movie.ImageUrl) />  
                </div>
                <div class="right">
                    <p class="description"> @Html.DisplayFor(modelItem => item.Movie.ShortDescription) </p>
                    <p class="cinema"> @Html.DisplayFor(modelItem => item.Cineplex.Location) </p>
                    <p class="time"> @Html.DisplayFor(modelItem => item.SessionTime) </p>
                    <a class="button" href="/MovieSessions/Details/@Html.DisplayFor(modelItem => item.MovieSessionId)">Buy Tickets</a>
                </div>
               
            </div> 
            
            
        </div>

    }

</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("/js/searchScripts.js")"></script>
}



