@model CineplexWebsite.Models.MoviesViewModel

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <h1>Movies</h1>
        
            @foreach (var item in Model.Movies)
            {
                    <div class="row well" >
                        <div class="col-sm-4">
                            @Html.DisplayFor(modelItem => item.ImageUrl)<br />
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(modelItem => item.LongDescription)<br />
                            @Html.DisplayFor(modelItem => item.Price)<br />
                            @Html.DisplayFor(modelItem => item.ShortDescription) <br />
                            @Html.DisplayFor(modelItem => item.Title)<br />
                        </div>
                    </div>
            }

            <h1> Coming soon</h1>

        @foreach (var item in Model.MoviesComingSoon)
            {
            <div class="row well">
                <div class="col-sm-4">
                    @Html.DisplayFor(modelItem => item.ImageUrl)<br />
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(modelItem => item.LongDescription)<br />
                    @Html.DisplayFor(modelItem => item.LongDescription)<br />
                    @Html.DisplayFor(modelItem => item.ShortDescription) <br />
                    @Html.DisplayFor(modelItem => item.Title)<br />
                </div>
            </div>
        }
    </div>
    </body>
</html>
