<<<<<<< HEAD:Assignment2/CineplexWebsite/src/CineplexWebsite/Views/Enquiries/Index.cshtml
@model IEnumerable<CineplexWebsite.Models.Enquiry>

=======
﻿
>>>>>>> Home:Assignment2/CineplexWebsite/src/CineplexWebsite/Views/Enquiries444/Index.cshtml
@{
    ViewData["Title"] = "Index";
}

<h2>Enquiry</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnquiryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnquiryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnquiryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
