@model ICollection<CineplexWebsite.Models.MovieSessionModel>

@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>
@if (Model != null && Model.Count>0)
{
    int transactionTotal = 0;
    <div class="cartSessions">
        @foreach (var session in Model)
        {
            
                int sessionTotal = 0;
                <h2>@session.MovieName</h2>
                <h3>@session.CinemaName</h3>
                <h3>@session.SessionTime</h3>
                <p>Tickets x @session.Seats.Count</p>
                
                for (int i = 0; i < @session.Seats.Count; i++)
                {
                sessionTotal += Int32.Parse(@session.Seats.ElementAt(i).Price);

                <p>@session.Seats.ElementAt(i).SeatType ticket: $@session.Seats.ElementAt(i).Price</p>
                }
                <h4 class="sessionTotal">total = $@sessionTotal</h4>
                transactionTotal += sessionTotal;

                <button class="remove-button" onclick="removeSession('@session.SessionId')" >Remove</button>

        
            
        }
        <h2>Checkout now: $@transactionTotal</h2>
        <button class="add-button">Checkout</button>
    </div>
   
    
}
else
{
    <p>Oops! Your cart is empty. <a href="/MovieSessions"> Book some tickets</a></p>
}

<script>
    function removeSession(sessionGuid) {

        $.ajax({
            type: "DELETE",
            url: "/cart/delete/",
            contentType: 'application/json',
            data: JSON.stringify(sessionGuid),
            success: function(response) {
                console.log("yay");
                location.reload();
            },
            error: function() {
                console.error("Something went wrong");
            }
        });
    }
</script>

